<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    
    {% include cdn/google_analytics.html %}
  </head>
  <body>
    <div class="page-title">
      PixelArt <span class="page-title-name">by lilBunnyRabbit</span>
    </div>

    <div id="desktop" style="display: none;">{% include desktop.html %}</div>
    <div id="mobile" style="display: none;">{% include mobile.html %}</div>

    <script>
      function orientationChange() {
        if(screen.availHeight > screen.availWidth){
          document.getElementById("desktop").style.display = "none";
          document.getElementById("mobile").style.display = "initial";
        } else {
          document.getElementById("desktop").style.display = "initial";
          document.getElementById("mobile").style.display = "none";
        }
      }

      window.onorientationchange = orientationChange;
      orientationChange();
    </script>

    {% include cdn/anchor_js.html %}
  </body>
</html>