<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    
    {% include cdn/google_analytics.html %}
  </head>
  <body>
    <div class="page-title">
      PixelArt <span style="font-size: 20px">by lilBunnyRabbit</span>
    </div>

    <div class="files-stack">
      {% for file in site.data.files %}
        <div class="file-box">
          <a href="./files/{{ file.folder }}/{{ file.folder }}.png" target="_blank">
            <img class="file-image" src="./files/{{ file.folder }}/{{ file.folder }}.png"></img>
          </a>

          <div class="file-data-box">
            <div class="file-name">{{ file.name }}</div>
            <div class="file-links">
              <a class="file-link-source" href="./files/{{ file.folder }}/source.png" download="{{ file.folder }}-source.png" target="_blank">Source</a>
              <a class="file-link-aseprite" href="./files/{{ file.folder }}/source.aseprite" download="{{ file.folder }}.aseprite" target="_blank">Aseprite</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    {% include cdn/anchor_js.html %}
  </body>
</html>